$altezza-bottone: 50px;
$altezza-conteggio-tessere: 400px;

.bottone-pesca {
  width: 150px;
  height: $altezza-bottone;
  position: fixed;
  left: 2%;
  // bottom: calc(60% - ($altezza-bottone/2));
  bottom: 2%;  
}

.tessere-banco {
  background-image: url("../../../assets/imgs/tavoloBackground2.jpg");
  background-size: contain;
  position: fixed;
  left: 1%;
  bottom: calc(55% - ($altezza-conteggio-tessere/2));
  border-radius: 20px;
  height: $altezza-conteggio-tessere;
  width: 8%;
  border: 5px solid brown; 

  // background-color: #a67c52;
}

.conteggio-tessere {
  position: relative;
  display: inline-block;
}

.badge {
  position: fixed;
  left: 1.5%;
  bottom: calc(56% - ($altezza-conteggio-tessere/2));
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  min-width: 20px;
  text-align: center;
}
