$altezza-bottone: 50px;
$altezza-conteggio-tessere: 400px;
$altezza-blocchi-turni: 40px;

.bottone-pesca {
  width: 150px;
  height: $altezza-bottone;
  position: fixed;
  left: 2%;
  // bottom: calc(60% - ($altezza-bottone/2));
  bottom: 2%;  
}

.tessere-banco {
  position: fixed;
  left: 1%;
  bottom: calc(55% - ($altezza-conteggio-tessere/2) - $altezza-blocchi-turni);
  width: 8%;
  display: flex;
  flex-direction: column;

  .tessere-rimaste{
    background-image: url("../../../assets/imgs/tavoloBackground2.jpg");
    background-size: contain;
    border-radius: 20px;
    border: 5px solid brown; 
    height: $altezza-conteggio-tessere;

  }

  .turno-bot, .turno-utente{
    height: $altezza-blocchi-turni;
    white-space: nowrap;
    font-size: x-small;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    p{
      margin: 0;
    }
  }

  // background-color: #a67c52;
}

.turno-on {
  background-color: #4CAF50; 
}

.turno-off {
  background-color: #A5D6A7; 
}




.conteggio-tessere {
  position: relative;
  display: inline-block;
}

.badge {
  position: fixed;
  left: 1.5%;
  bottom: calc(56% - ($altezza-conteggio-tessere/2) );
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  min-width: 20px;
  text-align: center;
}
