<div #CardWrapper
     class="card-wrapper banco">
  <section class="blocchi">
    <!-- centro-sinistra -->
    <div class="blocco-carta centrale-sinistra"
         [class.minore-spazio]="isLastCardVertical(parti.centraleSuperiore)"
         [class.maggiore-spazio-superiore]="isFirstCardVertical(parti.centraleSuperiore)">
      <div #cartaContainer
           *ngFor="let tessera of prendiParteArray(parti.centraleSuperiore).reverse();index as i"
           class="carta"
           cdkDrag
           cdkDragBoundary="board"
           [@entryAnimation]
           [cdkDragDisabled]="true"
           [cdkDragPreviewClass]="'carta'"
           [cdkDragData]="tessera"
           [ngClass]="tessera.uguali?  'parti-uguali':''">

        <div class="parte-sinistra"
             [ngClass]="tessera.invertita?'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteDestra].immagine"
               alt="Immagine parte sinistra">
        </div>
        <div class="parte-destra"
             [ngClass]="!tessera.invertita? 'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteSinistra].immagine"
               alt="Immagine parte sinistra">
        </div>
      </div>
    </div>
    <!-- verticale-sinistra -->
    <div class="verticali sinistra"
         [class.maggiore-spazio-sinistra]="isLastCardVertical(parti.sinistra)">
      <div #cartaContainer
           *ngFor="let tessera of prendiParteArray(parti.sinistra);index as i"
           class="carta"
           cdkDrag
           cdkDragBoundary="board"
           [@entryAnimation]
           [cdkDragDisabled]="true"
           [cdkDragPreviewClass]="'carta'"
           [cdkDragData]="tessera"
           [ngClass]="!tessera.uguali?  'parti-uguali':''">
        <div class="parte-sinistra"
             [ngClass]="tessera.invertita?'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteSinistra].immagine"
               alt="Immagine parte sinistra">
        </div>
        <div class="parte-destra"
             [ngClass]="!tessera.invertita? 'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteDestra].immagine"
               alt="Immagine parte sinistra">
        </div>
      </div>
    </div>
    <!-- centro-centro -->
    <div class="blocco-carta centrale"
         [class.leftHint]="isShownLeftHint&&prendiParteArray(parti.centro).length<limiteTessereCentrali"
         [class.rightHint]="isShownRightHint&&prendiParteArray(parti.centro).length<limiteTessereCentrali">
      <div #cartaContainer
           *ngFor="let tessera of prendiParteArray(parti.centro);index as i"
           class="carta"
           cdkDrag
           cdkDragBoundary="board"
           [@entryAnimation]
           [cdkDragDisabled]="true"
           [cdkDragPreviewClass]="'carta'"
           [cdkDragData]="tessera"
           [ngClass]="tessera.uguali?  'parti-uguali':''">

        <div class="parte-sinistra"
             [ngClass]="tessera.invertita?'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteSinistra].immagine"
               alt="Immagine parte sinistra">
        </div>
        <div class="parte-destra"
             [ngClass]="!tessera.invertita? 'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteDestra].immagine"
               alt="Immagine parte sinistra">
        </div>
      </div>
    </div>
    <!-- verticale-destra -->
    <div class="verticali destra"
         [class.maggiore-spazio-destra]="isLastCardVertical(parti.destra)">
      <div #cartaContainer
           *ngFor="let tessera of prendiParteArray(parti.destra);index as i"
           class="carta"
           cdkDrag
           cdkDragBoundary="board"
           [@entryAnimation]
           [cdkDragDisabled]="true"
           [cdkDragPreviewClass]="'carta'"
           [cdkDragData]="tessera"
           [ngClass]="!tessera.uguali?  'parti-uguali':''">
        <div class="parte-sinistra"
             [ngClass]="tessera.invertita?'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteSinistra].immagine"
               alt="Immagine parte sinistra">
        </div>
        <div class="parte-destra"
             [ngClass]="!tessera.invertita? 'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteDestra].immagine"
               alt="Immagine parte sinistra">
        </div>
      </div>
    </div>
    <!-- centro-destra -->
    <div class="blocco-carta centrale-destra"
         [class.minore-spazio-inferiore]="isFirstCardVertical(parti.centraleInferiore)">
      <div #cartaContainer
           *ngFor="let tessera of prendiParteArray(parti.centraleInferiore).reverse();index as i"
           class="carta"
           cdkDrag
           cdkDragBoundary="board"
           [@entryAnimation]
           [cdkDragDisabled]="true"
           [cdkDragPreviewClass]="'carta'"
           [cdkDragData]="tessera"
           [ngClass]="tessera.uguali?  'parti-uguali':''">

        <div class="parte-sinistra"
             [ngClass]="tessera.invertita?'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteDestra].immagine"
               alt="Immagine parte sinistra">
        </div>
        <div class="parte-destra"
             [ngClass]="!tessera.invertita? 'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteSinistra].immagine"
               alt="Immagine parte sinistra">
        </div>
      </div>
    </div>
  </section>
</div>
