.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  padding: 10px 0;
}
.banco {
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-image: url("../../../assets/imgs/tavoloBackground2.jpg");
  // background-size: contain;
  // border: 10px solid brown;
  // border-radius: 10px;
  background-color: transparent;
  .carta {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 0 !important;
    max-width: 80px;
    width: 120px;
    margin-left: 5px;
  }
  .parte-sinistra,
  .parte-destra {
    max-height: 40px;
    max-width: 40px;
  }

  .parte-sinistra {
    border-bottom-left-radius: 10%;
    border-top-right-radius: 0 !important;
    img {
      border-bottom-left-radius: 10%;
      border-top-right-radius: 0 !important;
    }
  }
  .parte-destra {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10%;
    img {
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 10%;
    }
  }
}
.blocchi {
  width: auto;
  display: flex;
  flex-direction: column;
  .blocco-carta {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .verticali {
    width: 100%;
    flex-direction: column;
  }

  .centrale {
    height: 80px;
    position: relative;
    margin-right: 5px;
  }

  .leftHint::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    border: 1px dashed #ebd77f;
    left: -85px;
    top: calc(50% - (40px / 2));
  }

  .rightHint::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    border: 1px dashed #ebd77f;
    right: -85px;
    top: calc(50% - (40px / 2));
  }

  .centrale-sinistra {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    margin-bottom: -15px;
  }

  .centrale-destra {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
    margin-right: 5px;
    margin-top: -15px;
  }
  .destra {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: -20px;
    .carta {
      margin-right: -15px !important;
      margin-top: 5px !important;
    }
    .parti-uguali {
      margin-right: 5px !important;
    }
  }

  .sinistra {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: -20px;
    margin-left: 5px;
    .carta {
      margin-left: -20px !important;
      margin-bottom: 5px !important;
    }
    .parti-uguali {
      margin-left: 0 !important;
    }
  }
}

.maggiore-spazio-sinistra {
  margin-top: 0!important;
  margin-bottom: -5px !important;
}
.maggiore-spazio-destra {
  margin-top: 0!important;
}
.minore-spazio {
  margin-bottom: -10px !important;
}
.maggiore-spazio-superiore {
  margin-bottom: 5px !important;
}
.minore-spazio-inferiore {
  margin-top: 5px !important;
}

.parti-uguali {
  flex-direction: column !important;
  height: 80px !important;
  max-height: none !important;
  max-width: 40px !important;

  .carta {
    padding: 0 !important;
    max-height: none !important;
    max-width: none !important;
  }
  .parte-destra,
  .parte-sinistra {
    width: 40px !important;
    height: 40px !important;
  }
  .parte-sinistra {
    border-top-right-radius: 10% !important;
    border-bottom-left-radius: 0 !important;
    img {
      border-top-right-radius: 10% !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  .parte-destra {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 10% !important;
    img {
      border-top-right-radius: 0 !important;
      border-bottom-left-radius: 10% !important;
    }
  }
}

.parte-sinistra,
.parte-destra {
  text-align: center;
  background-color: ghostwhite;
  // border: 1px solid black;
  height: 100%;
  width: 100%;
  max-height: 80px;
  max-width: 90px;

  img {
    height: 100%;
    width: 100%;
  }
}
.parte-sinistra {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  img {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
}
.parte-destra {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  img {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
}
