$altezza-bottone: 50px;
$altezza-conteggio-tessere: 400px;

.bottone-pesca {
  width: 100px;
  height: $altezza-bottone;
  position: fixed;
  right: 2%;
  bottom: calc(50% - ($altezza-bottone/2));
  background-color: #ffd700 !important;
}

.tessere-banco {
  position: fixed;
  left: 1%;
  bottom: calc(50% - ($altezza-conteggio-tessere/2));
  border-radius: 20px;
  height: $altezza-conteggio-tessere;
  width: 8%;
  border: 1px solid #000;
  background-color: #a67c52;
}

.conteggio-tessere {
  position: relative;
  display: inline-block;
}

.badge {
  position: fixed;
  left: 1.5%;
  bottom: calc(51% - ($altezza-conteggio-tessere/2));
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  min-width: 20px;
  text-align: center;
}
