
.btn-extra-large {
    font-size: 4rem;  /* Ad esempio, puoi aumentare la dimensione del font */
    padding: 2rem 4rem;  /* E aggiungere più padding */
  }



  .logo {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        margin-top: 5%;
        max-height: 100%;
    }
  }

  .button-container{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-bg {
    height: 100vh;
  
  }