.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 10px 0;
}
.banco {
  width: 80%;
  height: 35vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/imgs/tavoloBackground2.jpg");
  background-size: contain;
  // background-color: green; /* Colore per la superficie del tavolo */
  border: 10px solid brown; /* Bordo per il tavolo */
  border-radius: 10px; /* Rendi i bordi del tavolo arrotondati */

  .carta {
    flex-direction: row;
    padding: 0 !important;
    max-height: 40px;
    max-width: 80px;
    margin-left: 0 !important;
  }
  .parte-sinistra,
  .parte-destra {
    max-height: 40px;
    max-width: 40px;
  }

  .parte-sinistra {
    border-bottom-left-radius: 10%;
    border-top-right-radius: 0 !important;
  }
  .parte-destra {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10%;
  }
}
.carta {
  
  border-radius: 50%;
  cursor: move;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 100%;
  margin-left: -35px!important;
}
.prima {
  margin-left: 0 !important;
}
.parti-uguali {
  flex-direction: column !important;
  height: 80px !important;
  max-height: none !important;
  max-width: 40px !important;
  .carta {
    padding: 0 !important;
    max-height: none !important;
    max-width: none !important;
  }
  .parte-destra,
  .parte-sinistra {
    width: 40px !important;
  }
  .parte-sinistra {
    border-top-right-radius: 10% !important;
    border-bottom-left-radius: 0 !important;
  }
  .parte-destra {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 10% !important;
  }
}

.bot {
  height: 25vh;
  .carta {
    cursor: default !important;
  }
}
.colore-secondario {
  background-color: grey !important;
}

.parte-sinistra,
.parte-destra {
  text-align: center;
  background-color: ghostwhite;
  border: 1px solid black;
  height: 100%;
  width: 100%;
}
.parte-sinistra {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.parte-destra {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-wrapper .cdk-drop-list-dragging .carta:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.nonBot{
  .carta:hover{
  transform:scale(1.03) translateY(-10px) ;
  transition: transform 200ms ease-out;
}
}
