<div class="card-wrapper" [ngClass]="isBanco? 'banco': isBot? 'bot':'nonBot'">
  <div #cartaContainer *ngFor="let tessera of tessere;index as i" class="carta" cdkDrag cdkDragBoundary="board" [@entryAnimation]
    [cdkDragDisabled]="isBanco" [cdkDragDisabled]="isDragDisabled" [cdkDragPreviewClass]="'carta'"
    [cdkDragData]="tessera" [ngClass]="[(tessera.uguali&&isBanco)? 'parti-uguali':'',i===0?' prima':'']">

    <div class="parte-sinistra" [ngClass]="tessera.invertita?'colore-secondario':null">
      {{ tessera.parteSinistra }}
    </div>
    <div class="parte-destra" [ngClass]="!tessera.invertita? 'colore-secondario':null">
      {{ tessera.parteDestra }}
    </div>
  </div>
</div>
