.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  height: 30vh;
}

.banco {
  justify-content: center;
  align-items: center;
  padding: 5%;

  .carta {
    flex-direction: row;
    padding: 0 !important;
    max-height: 40px;
    max-width: 80px;
  }
  .parte-sinistra,
  .parte-destra {
    max-height: 40px;
    max-width: 40px;
  }

  .parte-sinistra {
    border-bottom-left-radius: 10%;
    border-top-right-radius: 0 !important;
  }
  .parte-destra {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10%;
  }
}
.carta {
  border-radius: 50%;
  cursor: move;
  padding: 20px 0;
  flex-basis: 14.2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.parti-uguali {
  flex-direction: column !important;
  height: 80px !important;
  max-height: none !important;
  max-width: 40px !important;
  .carta {
    padding: 0 !important;
    max-height: none !important;
    max-width: none !important;
  }
  .parte-destra,
  .parte-sinistra {
    width: 40px !important;
  }
  .parte-sinistra {
    border-top-right-radius: 10% !important;
    border-bottom-left-radius: 0 !important;
  }
  .parte-destra {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 10% !important;
  }
}

.bot {
  .carta {
    cursor: default !important;
  }
}
.colore-secondario {
  background-color: grey !important;
}

.parte-sinistra,
.parte-destra {
  text-align: center;
  background-color: ghostwhite;
  border: 1px solid black;
  height: 60px;
  width: 50%;
}
.parte-sinistra {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.parte-destra {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-wrapper .cdk-drop-list-dragging .carta:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
