<!-- Body -->
<div class="board"
     cdkDropListGroup>
  <div class="bot">
    <app-tessere [immaginiCaselle]="immaginiCaselle"
                 [isDragDisabled]="true"
                 [isBot]="true"
                 [tessere]="tessereBot"></app-tessere>
  </div>
  <div #parteSinistraDiv
       class="banco">
    <app-tessere #bancoContent
                 cdkDropList
                 cdkDropListSortingDisabled
                 [tessere]="tessereBanco"
                 [immaginiCaselle]="immaginiCaselle"
                 [isDragDisabled]="true"
                 [isBanco]="true"
                 [cdkDropListData]="tessereBanco"
                 (emettiGrowl)="casellaSbagliata($event)"
                 (nuovoTurnoBot)="nuovoTurnoBot()"
                 (cdkDropListDropped)="bancoContent.cartaRilasciata($event)">
    </app-tessere>
  </div>
  <div class="utente">
    <app-tessere cdkDropList
                 cdkDropListSortingDisabled
                 [tessere]="tessereUtente"
                 [immaginiCaselle]="immaginiCaselle"
                 [cdkDropListData]="tessereUtente"
                 [isDragDisabled]="isTurnoBot">
    </app-tessere>
  </div>
</div>
<!-- utilities -->
<app-utilities [tessere]="tessere"
               [isTurnoBot]="isTurnoBot"
               (pesca)="pescaUnaTessera()">
</app-utilities>
