.board {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.banco {
  width: 100%;
  border: 1px solid black;
  height: fit-content;
  max-height: 30vh;
}

.utente {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
