.board {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.parte-sinistra {
  width: 100%;
  border: 1px solid black;
  height: fit-content;
  max-height: 30vh;
}

.parte-destra {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
