<div class="board" cdkDropListGroup>
  <div class="bot">
    <app-tessere [isDragDisabled]="true" [isBot]="true" [tessere]="tessereBot" cdkDropList [cdkDropListData]="tessereBot"></app-tessere>
  </div>
  <div #parteSinistraDiv class="banco">
    <app-tessere #bancoComponent (nuovoTurnoBot)="nuovoTurnoBot()" (emettiGrowl)="mostraGrowl($event)" #bancoContent
      [tessere]="tessereBanco" cdkDropListSortingDisabled [isBanco]="true" cdkDropList [cdkDropListData]="tessereBanco"
      (cdkDropListDropped)="bancoContent.cartaRilasciata($event)"> </app-tessere>
  </div>
  <div class="utente">
    <app-tessere [isDragDisabled]="isTurnoBot" [tessere]="tessereUtente" cdkDropList [cdkDropListData]="tessereUtente"></app-tessere>
  </div>
</div>
