.button-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#62a383!important;
    overflow: hidden;
}
.btn-extra-large {
    font-size: 2rem;  /* Ad esempio, puoi aumentare la dimensione del font */
    padding: 1rem 2rem;  /* E aggiungere più padding */
  }