<div class="card-wrapper"
     [ngClass]="isBot? 'bot': isUtilities? 'utilities':'nonBot'">

  <!-- non utilities -->
  <ng-container *ngIf="!isUtilities; else Utilities">
    <div #cartaContainer
         class="carta"
         *ngFor="let tessera of tessere;index as i"
         cdkDrag
         cdkDragBoundary="board"
         [@entryAnimation]
         [cdkDragDisabled]="isDragDisabled"
         [cdkDragPreviewClass]="'carta'"
         [cdkDragData]="tessera"
         [ngClass]="i===0?' prima':''"
         (cdkDragStarted)="checkHints($event)"
         (cdkDragEnded)="hideHints()">

      <ng-container *ngIf="isBot;else fronteTessera">
        <div class="retro-carta">
        </div>
      </ng-container>
      <ng-template #fronteTessera>
        <div class="parte-sinistra"
             [ngClass]="tessera.invertita?'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteSinistra].immagine"
               alt="Immagine parte sinistra">
        </div>
        <div class="parte-destra"
             [ngClass]="!tessera.invertita? 'colore-secondario':null">
          <img [src]="immaginiCaselle[tessera.parteDestra].immagine"
               alt="Immagine parte sinistra">
        </div>
      </ng-template>
    </div>
  </ng-container>
  <!-- utilities -->
  <ng-template #Utilities>
    <div #cartaContainer
         *ngFor="let tessera of tessere.reverse();index as i"
         class="carta"
         cdkDrag
         cdkDragBoundary="board"
         [@entryAnimation]
         [@leaveAnimation]
         [cdkDragDisabled]="isDragDisabled"
         [cdkDragPreviewClass]="'carta'"
         [cdkDragData]="tessera"
         [ngClass]="i===0? 'prima':''">

      <ng-container *ngIf="isBot||isUtilities;else fronteTessera">
        <div class="retro-carta">

        </div>
      </ng-container>
      <ng-template #fronteTessera>
        <div class="parte-sinistra"
             [ngClass]="tessera.invertita?'colore-secondario':null">
          {{ tessera.parteSinistra }}
        </div>
        <div class="parte-destra"
             [ngClass]="!tessera.invertita? 'colore-secondario':null">
          {{ tessera.parteDestra }}
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>
