$margine-tessere-utilities: 60px;

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  padding: 10px 0;

}
.carta {
  border-radius: 50%;
  cursor: move;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 100%;
  margin-left: -35px !important;
}

.prima {
  margin-left: 0 !important;
}

.parti-uguali {
  flex-direction: column !important;
  height: 80px !important;
  max-height: none !important;
  max-width: 40px !important;

  .carta {
    padding: 0 !important;
    max-height: none !important;
    max-width: none !important;
  }
  .parte-destra,
  .parte-sinistra {
    width: 40px !important;
    height: 40px !important;
  }
  .parte-sinistra {
    border-top-right-radius: 10% !important;
    border-bottom-left-radius: 0 !important;
    img {
      border-top-right-radius: 10% !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  .parte-destra {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 10% !important;
    img {
      border-top-right-radius: 0 !important;
      border-bottom-left-radius: 10% !important;
    }
  }
}

.utilities {
  flex-direction: column;
  justify-content: start;

  .carta {
    max-width: 50px;
    min-height: 80px;
    max-height: 80px;

    margin-left: 0 !important;
    margin-top: -$margine-tessere-utilities;
  }

  .carta:first-child {
    margin-top: 0 !important;
  }
}

.bot {
  margin-top: -15vh;
  height: 25vh;
  width: 100vw;
  .carta {
    cursor: default !important;
  }
  
}
.colore-secondario {
  background-color: grey !important;
}
.retro-carta {
  height: 100%;
  width: 100%;
  background-color: #ebd77f;
  border: 1px solid black;
  border-radius: 10%;
}

.parte-sinistra,
.parte-destra {
  text-align: center;
  background-color: ghostwhite;
  // border: 1px solid black;
  height: 100%;
  width: 100%;
  max-height: 80px;
  max-width: 90px;

  img {
    height: 100%;
    width: 100%;
  }
}
.parte-sinistra {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  img {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
}
.parte-destra {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  img {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
}
//view elemento mentre viene spostato
.cdk-drag-preview{

}
//elemento sostitutivo quando viene spostato dalla sua posizione
.cdk-drag-placeholder {
  opacity: 0;
}
//animazione durante il trascinamento
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
//elemento che contiene l'elemento trascinato
.cdk-drop-list-dragging .carta:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.nonBot {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  .carta:hover {
    transform: scale(1.03) translateY(-10px);
    transition: transform 200ms ease-out;
  }
  .carta{
    flex-direction: row!important;
    height: auto;
    margin-bottom: 10px;
  }
}
