:host{
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
}

.pulsanti{
  height:5vh;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.banco {
  width: 100%;
  max-height: 60vh;
}

.utente {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}





