<div class="patternScuro my-bg">
  <div class="header">
    <img class="logo-alto"
         src="./assets/imgs/chat/logo.png">
  </div>

  <div class="chat">
    <div class="message-container">
      <div class="messages-chat">
        <div *ngFor="let message of chatMessages"
             [class.message-left]="message.sender === 'character'"
             [class.message-right]="message.sender === 'user'">
          <div class="d-flex">
            <div class="d-flex justify-content-center align-items-center">
              <img *ngIf="message.image"
                   [src]="message.image"
                   alt="Character Image"
                   class=" me-3 img-personaggio">
            </div>
            <div class="card patternChiaro">
              <div class="card-body d-flex align-content-center flex-wrap">
                <p class="card-text fs-2 ">{{ message.text }}</p>
              </div>
            </div>
          </div>


        </div>
      </div>
      <!-- Input per inserire il nome -->
      <div class="name-input"
           *ngIf="!nomeInserito && !showCards">
        <!-- <form #form="ngForm" (ngSubmit)="setName()" class="d-flex">
                  <input type="text" [(ngModel)]="nome" name="nome" #campoNome="ngModel" placeholder="Messaggio"
                    required class="form-control">
                  <button type="submit" [disabled]="!form.valid" class="btn btn-primary ms-2">
                    <img style="width: 20px; height: 20px;" src="./assets/imgs/chat/send1.jpg" alt="">
                  </button>
                </form> -->
        <form [formGroup]="form"
              class="conversation-compose"
              (ngSubmit)="setName()">
          <div class="emoji">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 id="smiley"
                 x="3147"
                 y="3209">
              <path fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z"
                    fill="#7d8489" /></svg>
          </div>
          <input class="input-msg"
                 name="input"
                 placeholder="Messaggio"
                 formControlName="messaggio"
                 autocomplete="off"
                 autofocus>
          <div class="photo">
            <i class="zmdi zmdi-camera"></i>
          </div>
          <button class="send"
                  type="submit"
                  [disabled]="!form.valid">
            <div class="circle">
              <i class="zmdi zmdi-mail-send"></i>
              <img style="width: 20px; height: 20px;"
                   src="./assets/imgs/chat/send1.jpg"
                   alt="">
            </div>
          </button>
        </form>
      </div>
    </div>


  </div>

  <!-- Mostra 3 card come link -->
  <div *ngIf="showCards"
       class="d-flex row mb-4">
    <div class="col-4"
         *ngFor="let card of cards; let i = index">
      <div class="card">
        <div class="card-body patternChiaro">
          <a href="{{card.link}}"><img [src]="card.image"
                 alt="Card Image"
                 class="card-img-top"></a>
        </div>
      </div>
    </div>
  </div>


  <div class="footer">
    <img class="logo-basso "
         src="./assets/imgs/chat/emporio.png"
         alt="">
  </div>
</div>
