.message-left {
  justify-content: flex-start;
}

.message-right {
  justify-content: flex-end;
}

.message-left, .message-right{
  margin-bottom: 10px;
}

.character {
  justify-content: flex-start;
  background-color: #ffebc6;
}

.user {
  justify-content: end;
  background-color: #008c95;
}

.card-body {
  padding: 15px;  /* Adjust the padding as per your needs */
}

.card-text {
  line-height: 1.5;  /* Adjust line height to ensure text doesn't overlap */
  margin: 0;         /* Remove any default margins */
  white-space: pre-line; /* This will ensure that line breaks in the text are respected */
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-animated {
  /* animation: zoomIn 0.5s ease-out; */
  animation: slideInUp 0.6s ease-out;
}

.img-personaggio {
  border-radius: 50%;
  height: 100px;
  width: auto;
}

.logo-alto {
  width: 60%;
}

.logo-basso {
  width: 30%;
}

.my-bg {
  padding: 0 20px;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f4f4f4;
  .header {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat {
    height: 82vh;
    padding: 0 10% 2% 10%;
    .message-container {
      height: 100%;
      background-image: url(/assets/imgs/chat/sfondo_chat.jpg);
      border-radius: 10px;
      padding: 0 2%;
      .messages-chat{
        height: 85%;
        padding: 5px;
      }
      .name-input {
        height: 15%;        
        display: flex;
        justify-content: end;
        align-items: center;
      }
    }
  }

  .footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.my-bg::-webkit-scrollbar {
    width: 8px;
  }
  
  .my-bg::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  .my-bg::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }



.patternScuro {
  background-color: #008c95;
}

.patternChiaro {
  background-color: #ffebc6;
}

/* PROVE */

/* Compose */

.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.conversation-compose div,
.conversation-compose input {
  background: #fff;
  height: 100%;
}

.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
}

.conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;
}

.conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
}

.conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -9px;
}

.conversation-compose .photo i {
  display: block;
  color: #7d8488;
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}

.conversation-compose .send .circle {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
}
